@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

/* ------------ */
/* --RESET--*/
/* ------------ */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* ------------ */
/* --DEFAULT--*/
/* ------------ */

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f3f5;
  font-size: 1.5rem;
  min-height: 100vh;
}

/* ------------ */
/* --CONTAINER--*/
/* ------------ */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
}

/* ------------ */
/* --Global--*/
/* ------------ */
.gap-1rem {
  display: flex;
  gap: 1rem;
}

.input {
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  padding: 0.8rem;
  margin: 1rem 0;
  font-weight: 500;
}

.error-message {
  color: rgba(255, 0, 0, 0.945);
  font-weight: 400;
  font-size: 1.4rem;
}

/* ------------ */
/* --BUTTON--*/
/* ------------ */

.wrapper-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}

.btn-save,
.btn-clear,
.btn-delete {
  padding: 1rem;
  border-radius: 2rem;
  width: 10rem;
  border: none;
  transition: scale 0.1s ease-in-out;
  color: #fff;
  font-weight: 600;
}

.btn-save:hover,
.btn-clear:hover,
.btn-delete:hover {
  cursor: pointer;
  scale: 1.03;
}

.btn-save {
  background-color: #242323e8;
}

.btn-clear {
  background: none;
  border: solid 0.2rem rgba(139, 134, 134, 0.438);
  color: black;
  font-weight: 400;
}

.btn-delete {
  border: solid 0.2rem rgba(139, 134, 134, 0.438);
  color: white;
  font-weight: bold;
  background: rgba(235, 32, 32, 0.925);
}

/* ------------ */
/* --OPTIONS --*/
/* ------------ */
.wrapper-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-edit,
.option-delete {
  padding: 1rem;
  border-radius: 2rem;
  width: 7rem;
  border: none;
  transition: scale 0.1s ease-in-out;
  color: #fff;
  font-weight: bold;
}

.option-edit:hover,
.option-delete:hover {
  cursor: pointer;
  scale: 1.03;
}

.option-edit {
  background-color: #a8a8a8e8;
}

.option-delete {
  color: white;
  background: rgba(235, 32, 32, 0.925);
}

/* ------------ */
/* --APPLICATION--*/
/* ------------ */
.app_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

/* ------------ */
/* --CARDS--*/
/* ------------ */
.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 5rem;
}

.container_card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.wrapper_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_card {
  font-size: 2.5rem;
}

/* ------------ */
/* --APPLICATION--*/
/* ------------ */
.cv_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 90rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

/* ------------ */
/* --LOADED EDUCATION CARD--*/
/* ------------ */

.container-educations-loaded {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.title-education-loaded {
  text-transform: "capitalize";
  width: 15rem;
  white-space: nowrap;
}

h3[class="title-education-loaded"] {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ------------ */
/* -- RESUME --*/
/* ------------ */
.wrapper-personnalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: #3f65e0cb;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: none;
  border-bottom-left-radius: none;
}

.wrapper-subPersonnalInfo {
  display: flex;
  gap: 2rem;
}

.wrapper-itemsIconPersonnal {
  display: flex;
  gap: 0.8rem;
}

.wrapper-sectionCV {
  padding: 2rem;
}

.title-sectionCV {
  text-align: center;
  background: #e7e4e46c;
  padding: 1rem;
  border-radius: 1rem;
}

/* ------------ */
/* --EMPLOYMENT FROM RESUME --*/
/* ------------ */
.wrapper-items {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  gap: 2rem;
}

.wrapper-resume-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapper-resume-sub-item {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
}

.positionTitle {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.671);
}

.description {
  width: 100%;
}

/* ------------ */
/* --RESPONSIVE CONTAINER--*/
/* ------------ */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

/* ------------ */
/* --PRINT STYLES--*/
/* ------------ */
@media print {
  body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .wrapper-resume-sub-item {
    width: 30rem !important;
  }

  .cv_container {
    margin: 1rem auto;
    width: 100%;
    page-break-inside: avoid;
  }

  .container_card,
  .btn-save,
  .btn-clear,
  .btn-delete,
  .option-edit,
  .option-delete {
    display: none;
  }

  .wrapper-personnalInfo {
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .wrapper-subPersonnalInfo {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .wrapper-itemsIconPersonnal {
    display: flex;
    gap: 0.8rem;
  }

  .wrapper-sectionCV {
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .title-sectionCV {
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
  }

  .wrapper-items {
    padding: 2rem;
    width: 100%;
  }

  .wrapper-resume-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .wrapper-resume-sub-item {
    display: flex;
    width: 100%;
  }

  .description {
    width: 100%;
  }
}
